@model IEnumerable<Tourtech.Models.Shared.ProductOverviewViewModel>

<div class="products-section row animate-fade-appear-initial js-animate-fade-appear">
    @foreach (var product in Model)
    {
        <div class="col-md-3 col-sm-6 col-12 product appear-item">
            <a href="@product.Url">
                <div class="image-wrap">
                    <img src="@product.ImageUrl" alt="@product.Title" />
                </div>
                <div class="button-outline">
                    FIND OUT MORE
                </div>
            </a>
            <div class="text-center mt-4">
                @product.Title
            </div>
        </div>
    }
</div>